<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Taxi admin panel</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
      
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
      
        <link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
        
        <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
       
        <link href="../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />

        <link href="../assets/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css" />
        
        <link href="../assets/layouts/layout5/css/custom.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" /> 
    </head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-md">
        <!-- BEGIN CONTAINER -->
        <div class="wrapper">
            <!-- BEGIN HEADER -->
           <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <div class="topbar-actions">
                                <div class="btn-group-img btn-group">
                                    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span>Hi, Marcus</span>
                                        <img src="../assets/layouts/layout5/img/avatar1.jpg" alt=""> </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li>
                                            <a href="profiel.html">
                                                <i class="icon-user"></i> Mijn profiel
                                                <span class="badge badge-danger">1</span>
                                            </a>
                                        </li>
                                       
                                        <li>
                                            <a href="noodsignaal.html">
                                                <i class="icon-envelope-open"></i> Noodsignalen
                                                <span class="badge badge-danger"> 3 </span>
                                            </a>
                                        </li>
                                        
                                        <li class="divider"> </li>
                                       
                                        <li>
                                            <a href="page_user_login_1.html">
                                                <i class="icon-key"></i> Uitloggen </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                         <a id="index" class="page-logo" href="index.html">
                                <img src="../assets/pages/img/logo.png" alt="Logo"> </a>
                            <ul class="nav navbar-nav">
                                <li class="dropdown dropdown-fw">
                                    <a href="index.html" class="text-uppercase">
                                        <i class="fa fa-home"></i> Dashboard
                                    </a>
                                </li>
                                <li class="dropdown more-dropdown selected">
                                    <a href="taxilocatie.html" class="text-uppercase"> 
                                        <i class="fa fa-briefcase" ></i> Taxi's
                                    </a>
                                    <ul class="dropdown-menu taxi_dropdown">
                                        <li>
                                            <a href="#">Overzicht</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-fw">
                                    <a href="javascript:;" class="text-uppercase">
                                        <i class="fa fa-location-arrow"></i> Routes
                                    </a>
                                </li>
                                <li class="dropdown dropdown-fw  ">
                                    <a href="javascript:;" class="text-uppercase">
                                        <i class="fa fa-comments-o"></i> Opmerking 
                                    </a>
                                </li>
                                <li class="dropdown more-dropdown">
                                    <a href="javascript:;" class="text-uppercase"> 
                                        <i class="fa fa-briefcase" ></i> Overzichten
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="chauffeurs.html">Chauffeurs</a>
                                        </li>
                                        <li>
                                            <a href="#">Tablets</a>
                                        </li>
                                        <li>
                                            <a href="#">Medewerkers</a>
                                        </li>
                                         <li>
                                            <a href="#">Reclames</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container-fluid">
                <div class="page-content"> 
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-grey-gallery">
                                <i class="fa fa-map-marker font-grey-gallery"></i>
                                <span class="caption-subject bold uppercase">Taxi's</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                           <div class="row">
                                <div class="col-lg-6"> 
                                   <div class="portlet-body form">
                                        <div class="table-responsive">
                                            <table class="table table-hover" >
                                                <thead>
                                                    <th><small> Kenteken</small></th>
                                                    <th><i class="fa fa-taxi" ></i><small> Merk</small></th>
                                                    <th><small> Model</small></th>
                                                    <th><small> Kleur</small></th>
                                                    <th><i class="fa fa-user"></i><small> Chauffeur</small></th>
                                                    <th><i class="fa fa-wifi" ></i><small> Laatste gezien</small></th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>78-LR-VV</strong></td>
                                                        <td>Opel</td>
                                                        <td>Corsa</td>
                                                        <td>Blauwgrijs</td>
                                                        <td>Stefan Groenland</td>
                                                        <td><i class="fa fa-circle" style="color: #41f800;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>XX-XX-XX</strong></td>
                                                        <td>Peugot</td>
                                                        <td>3008</td>
                                                        <td>Zwart</td>
                                                        <td>Richard Perdaan</td>
                                                        <td><i class="fa fa-circle" style="color: #41f800;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>XX-XX-XX</strong></td>
                                                        <td>Audi</td>
                                                        <td>A8</td>
                                                        <td>Zwart</td>
                                                        <td>Edward Belgraver</td>
                                                        <td><i class="fa fa-circle" style="color: #f82200;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>XX-XX-XX</strong></td>
                                                        <td>Audi</td>
                                                        <td>A4</td>
                                                        <td>Zwart</td>
                                                        <td>Martijn de Ridder</td>
                                                        <td><i class="fa fa-circle" style="color: #41f800;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>XX-XX-XX</strong></td>
                                                        <td>Toyota</td>
                                                        <td>Starlet</td>
                                                        <td>Groen</td>
                                                        <td>Mace muilman</td>
                                                        <td><i class="fa fa-circle" style="color: #41f800;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>XX-XX-XX</strong></td>
                                                        <td>Volkswagen</td>
                                                        <td>Golf</td>
                                                        <td>Blauw</td>
                                                        <td>Kars Hoving</td>
                                                        <td><i class="fa fa-circle" style="color: #f82200;" ></i> <small>15:19 18-02-2016</small></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 "> 
                                    <div id="map" style="height: 500px; width: 100%;" class="contact_maps"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="copyright">2016 © Moodles.</p>
                <a href="#index" class="go2top">
                    <i class="icon-arrow-up"></i>
                </a>
            </div>
        </div>
     
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/profile.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyBuzlPSNhmRIEhIl-3ZUidj3fwXfsDSw&amp;sensor=false"></script>
        <script type="text/javascript"> 
            var myLatlng = new google.maps.LatLng(51.929759,4.471919);
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: new google.maps.LatLng(51.9996726,5.5019347),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: true 
            });        
        </script>
    </body>

</html>